.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.app__content {
  flex: 1;
  padding: 20px;
  padding-left: 90px;
  transition: padding-left 0.3s ease;
  overflow-y: auto;
  background-color: #0f0f0f;
}

.app__content.sidebar-open {
  padding-left: 250px;
}

@media (max-width: 768px) {
  .app__content {
    padding-left: 20px;
  }
  
  .app__content.sidebar-open {
    padding-left: 20px;
  }
}