.download-header {
  padding: 1.5rem 2rem;
  background: var(--bg-secondary);
  justify-content: center;
  border-bottom: 1px solid var(--sidebar-border);
}

.disclaimer-header {
  display: flex;
  /* justify-content: center; */
}

.disclaimer-content {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  max-width: 1100px;
}

.disclaimer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  height: 90px;
  background: var(--btn-delete);
  border-radius: 10px;
  color: var(--bg-primary);
}

.disclaimer-text h1 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-primary);
}

.disclaimer-text p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--text-secondary);
}

@media (max-width: 768px) {
  .download-header {
    padding: 1rem;
  }

  .disclaimer-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .disclaimer-text p {
    font-size: 0.875rem;
  }
}
